{% extends 'base.html' %}

{% block content %}
<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>Update profile</h2>
                </div>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <input type="hidden" name="next" value="{{next}}">
                {{person_info}}
            </div>
            <button type="submit" class="site-btn">Update profile</button>
            </div>
        </form>
    </div>
</div>


{% endblock content %}


